<div class="container-fluid">
  <div class="row">
    <div align="center"><%= link_to image_tag("luckydiplogo2.png"), new_dip_path %>
   <h1 class>Completed Visits</h1>
   </div>
  </div>

<div class="row">
    <div align="center">
    <div class="container">
      <% @locations.each do |location| %>
      
       <div class="card" >
        <div class="card-block">
          <h3><%= location.name %></h3>
           <p>You checked into this location on <%= location.created_at.strftime("%B %e, %Y at %I:%M %p") %></p>  
          <%= link_to 'Leave a Review', class: "btn btn-primary" %><br>
          <%= link_to 'Remove' %> 
        </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
</div> 