<div class="container-fluid">
  <div class="row">
    <div align="center"><%= link_to image_tag("luckydiplogo2.png"), new_dip_path %>
   <h1 class>Completed Visits</h1>
   </div>
  </div>

<div class="row">
    <div align="center">
    <div class="container">
      <% @check_ins.each do |check_in| %>
      <p>      
       <div class="card" >
        <div class="card-block">
          <h3><%=link_to check_in.location.name, check_in.location %></h3>
           <p>You checked into this location on <%= check_in.created_at.strftime("%B %e, %Y at %I:%M %p") %></p>  
          <%= button_to 'Leave a Review', new_location_review_path(check_in.location), class: "btn btn-primary" %><br>
          <%= button_to 'Remove', check_in, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
</div> 