<div class="container-fluid">
  <div class="row">
    <div align="center"><%= link_to image_tag("luckydiplogo2.png"), new_dip_path %>
   <h1 class>Saved Locations</h1>
   </div>
  </div>
  
  <div class="row">
    <div align="center">
      <div class="container">
       <% @locations.each do |location| %>
  <p>
  <div class="card">
    <div class="card-block">
      <h3><%= link_to location.name, location %></h3>
   
      <p><%= location.address %></p>


    <%= button_to 'Check In', create_check_in_location_path(location), class: "btn btn-primary" %><br>
    <%= form_for location, url: unsave_location_path(location) do |f| %>
          <%= button_tag type: "submit", data: { confirm: 'Are you sure?' } do %>
          Remove
          <% end %>
    <% end %>
    </div>
  </div>
  <% end %>  
  </div>

  
</div>
</div>
</div>