<div class="container-fluid">
  <div class="container" style="text-align:center">
    <%= link_to image_tag("luckydiplogo2.png"), new_dip_path %>
    <h2>We'd love to hear from you!</h2><br>
    <h4><%= mail_to "admin@luckydipqld.com", "Email Us" %></h4><br>
    <h4><%= link_to 'Facebook', "https://www.facebook.com/luckydipapp/" %></h4><br>
    <h4><%= link_to 'Instagram', "https://www.instagram.com/luckydipqld/" %></h4><br>
    <%= link_to 'Back', root_path %>
  </div>
</div>