<div class="container">

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6">

<h4>Here's what you've said...</h4>
<p>
<p>
  <strong>I'm in the mood for:</strong>
  <%= @dip.activity_id %>
</p>

<p>
  <strong>At this type of place:</strong>
  <%= @dip.location_type_id %>
</p>


<p>
  <strong>Distance:</strong>
  <%= @dip.distance %> km away
</p>

<%= link_to 'Edit', edit_dip_path(@dip) %> 


<tr>
    <%= form_tag url_for(action: :pick_location), {method: 'post'} do %> 
      <td><%= submit_tag 'Go!', class: 'btn btn-success' %></td>
    <% end %>
  </tr>

</div>

  <div class="col-sm-6">


  <h3>Give this a try...</h3>

<%# if @dip.selections.empty? %>
      <tr>
        <td> There aren't any selections yet.</td>
        
      <%# end %>
      </tr>

    <%# @dip.selections.each do |selection| %>
       <tr>
         <td><%#= selection.location.name %></td>

<%# end %>

  <p>Location Name:</p>

  <p>Location Address:</p>

<%= link_to 'New Dip', new_dip_path %>

  </div>
 