<p>
<div class="container">
  <div align="center">
    <%= link_to image_tag("luckydip.png", alt: "LuckyDip logo") %>
    <p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="container">
        <p>
        <h3>Here's what you've said...</h3>
<p>
<p>
        <strong>I'm in the mood for:</strong>
        <%= @activity.name %>
</p>

<p>
        <strong>At this type of place:</strong>
        <%= @location_type.name %>
</p>


<p>
        <strong>Distance:</strong>
        <%= @dip.distance %> km away
</p>

    <%#= form_tag url_for(action: :create_selection), {method: 'post'} do %> 
      <td><%#= select_tag 'selection[activity_id]', options_for_select(Selection.activity), { class: 'form-control'} %></td>
      <td><%#= select_tag 'selection[location_type_id]', options_for_select(Selection.location_type), { class: 'form-control'} %></td>
      <td><%#= submit_tag "I'm feeling lucky!", class: 'btn btn-success' %></td>
    <%# end %>

<%= link_to 'Edit', edit_dip_path(@dip) %> 

<p>
   </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-7">
    <div class="card">
    <div class="container">
<p>

  <h2>Give this a try...</h2>

<%# if @selections.empty? %>
      <tr>
        <td> </td>
        
      <%# end %>
      </tr>

<%# @selections.each do |selection| %>
       <tr>
         <td><%= @activity_id %></td>
         <td><%= @location_type_id %></td>
        </tr>

<% #end %>

  <p>Location Name: <h2>Mooloolaba Beach</h2></p>

  <p>Location Address: <h2>Esplanade, Mooloolaba</h2></p>

  <p>

  <%= link_to 'See reviews for this location.' %>

<div align="center">
<%= link_to 'New Dip', new_dip_path, class: "btn btn-success" %>
</div>
<p>
     </div>
    </div>
  </div>
</div>
  
 