<div class="container">
<p>
<div class="container">
  <div align="center">
    <%= link_to image_tag("luckydiplogo2.png") %>
    <h1>Activities</h1>
    <p>
    <%= link_to 'New Activity', new_activity_path, class: 'btn btn-primary' %>
  </div>

  <div class="card">
    <div class="card-block">
      
    <table class="table table-striped">
  
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</p>

</div>
</div>
</div>