<p>
<div class="container">
  <div align="center">
    <%= link_to image_tag("luckydip.png", alt: "LuckyDip logo") %>
    <p>
  <div class="card">
    <div class="card-block">
      <h1 class="card-title">Activities</h1>

<p>
<p class="card-text">
<%= link_to 'New Activity', new_activity_path, class: 'btn btn-success' %>
<p>
<table class="table table-striped">
  
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</p>

</div>
</div>
</div>