<div class="container">
<%= form_for(review) do |f| %>
  

  <div class="field">
    <%= f.label :location_id %>
    <%= f.select :location_id, options_for_select(@locations.collect{ |l| [l.name, l.id]}) %>
  </div>

  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>