<p>
<div class="container">
  <div align="center">
    <%= link_to image_tag("luckydiplogo2.png") %>
    <p>
      <div class="card">
      <div class="card-block">
        <h2 class="card-title">Review for <%= @location.name %> by <%#= @user.name %></h2>
         <p class="card-text">
         <h4><%= @review.comments %> </h4></p>

<%= link_to 'View Location', location_path(@location) %>  |
<%= link_to 'Back to Completed Visits', completed_visits_path %>  |
<%= link_to 'Edit Review', edit_review_path(@review) %> 


  
   </div>
  </div>
</div>
</div>
