<div class="container">
<%= form_for(location) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :activities_available %>
    <%= f.select :activity_ids, options_for_select(@activities.collect{ |a| [a.name, a.id]}), {}, multiple: true, class: "chosen-select" %>
  </div>

<div class="field">
    <%= f.label :location_types %>
    <%= f.select :location_type_ids, options_for_select(@location_types.collect{ |a| [a.name, a.id]}) , {}, multiple: true, class: "chosen-select" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
</div>
