<div class="container-fluid">
  <div class="row">
    <div align="center"><%= link_to image_tag("luckydiplogo2.png"), new_dip_path %>
   <h1 class>Completed Visits</h1>
   </div>
  </div>

<div class="row">
    <div align="center">
      <div class="container">
  <% @locations.each do |location| %>
  <p>
  

  <div class="card" >
    <div class="card-block">
      <h3><%= link_to location.name, location %></h3>
      <p>You checked into this location on <%= location.checkin_time.strftime("%B %e, %Y at %I:%M %p") %></p>
   
    
   
    <%= link_to 'Leave a Review', new_location_review_path(location), class: "btn btn-primary" %>
    <%= link_to 'Remove', unsave_location_path(location), method: :unsave, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>  
  </div>

  
</div>
</div>
</div>
</div>