<div class="container">
<p>

<p>
<div class="container">
  <div align="center">
    <%= link_to image_tag("luckydip.png", alt: "LuckyDip logo") %>
    <p>
  <div class="card">
    <div class="card-block">
      <h1 class="card-title">Locations</h1>
<p>
<p class="card-text">
<%= link_to 'New Location', new_location_path, class: 'btn btn-success' %>
<p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Activity Tags</th>
      <th>Location Type Tags</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.address %></td>
        <td><%= location.activity_id %></td>
        <td><%= location.location_type_id %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</p>

</div>
</div>
</div>