<div class="container">
<p>

<p>
<div class="container">
  <div align="center">
    <%= link_to image_tag("luckydiplogo2.png"), new_dip_path %>
    <h1>Locations</h1>
    <p>

  <%= link_to 'New Location', new_location_path, class: 'btn btn-primary' %>
  <p>
  
</div>

<div class="card">
  <div class="container-fluid">
 
  <table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Activity Tags</th>
      <th>Location Tags</th>
      <th>Saved?</th>
      <th>Checkin?</th>
      <!--<th>Latitude</th>
      <th>Longitude</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
        <td><%= location.address %></td>
        <td><%= location.activities.pluck(:name).join(", ") %></td>
        <td><%= location.location_types.pluck(:name).join(", ") %></td>
        <td><%#= location.saved %></td>
        <td><%#= location.checkin_time %></td>
        <!--<td><%#= location.latitude %></td>
        <td><%#= location.longitude %></td>-->
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</p>

</div>
</div>

</div>