<div class="container">
<p>
<div class="card">
      <div class="card-block">

<p>
  <strong>Name:</strong>
  <%= @location.name %><br />
  <strong>Address:</strong>
  <%= @location.address %><br />
  <strong>Activities:</strong>
  <%= @location.activity_id %><br />
  <strong>Location Type:</strong>
  <%= @location.location_type_id %>
</p>
<p>Coordinates: <%= @location.latitude %> <%= @location.longitude %> <br />
<p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@location.latitude},#{@location.longitude}&markers=#{@location.latitude},#{@location.longitude}&zoom=7&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded', alt: "#{@location.name} on the map"%>
<p>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
</div>
</div>
</div>