<div class="container-fluid">
<p>
<div class="card">
  <div class="card-block">
  <%= link_to 'Back', new_dip_path %><p>
  <%= button_to 'Save Location', save_location_path, class: "btn btn-primary" %><br>
    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <p>

        
        <div class="container"> 
         <p>
          
          <h1><%= @location.name %></h1><br />

          <h4><%= @location.address %></h4><br />
          <p><%= @location.description %></p><br>

          <div class="container">
             <h4>Activities:</h4>
              <% @location.activities.each do |activity| %>
              <%= activity.name %><br />
              <% end %>
             <br>
            <h4>Location Type:</h4>
              <% @location.location_types.each do |location_type| %>
              <%= location_type.name %><br />
            <% end %>
            </p>
          </div>
        </div>
      </div>
<!--<p>Coordinates: <%= @location.latitude %> <%= @location.longitude %> <br />-->
      <div class="col-sm-6 col-lg-6">
        <div class="container">
        
        <p>

       <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@location.latitude},#{@location.longitude}&markers=#{@location.latitude},#{@location.longitude}&zoom=7&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded', alt: "#{@location.name} on the map"%>
<p>
              <h5><%= link_to 'Get directions' %></h5><br>
              <h5><%#= link_to 'Calculate distance from here', new_distance_path %></h5><br>
              
        <h4>Reviews for <%= @location.name %></h4><br>
        <div class="panel panel-default">
          <%= @reviews.each do |review| %>
            <div class="panel-heading"><%= review.created_at.strftime("%B %e, %Y at %I:%M %p") %></div><br>
            <div class="panel-body"><%= review.comments %></div><br>
          <% end %>
        </div>
       
       </div>
      </div>
    </div>
  </div>
</div>
</div>