<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %><br />
  <strong>Address:</strong>
  <%= @location.address %><br />
  <strong>Activities:</strong>
  <%= @location.activity_id %><br />
  <strong>Location Type:</strong>
  <%= @location.location_type_id %>
</p>
<p>Coordinates: <%= @location.latitude %> <%= @location.longitude %> <br />
<p>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
</div>